<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>{{ translate.pageTitle.en }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>

        <ion-row>

            <ion-col>
                <app-google-picture
                        [longitude]="loadedCompany.longitude"
                        [latitude]="loadedCompany.latitude"
                        [elementSize]="googlePictureSize"
                ></app-google-picture>
            </ion-col>

            <ion-col
                    *ngFor="let companyData of companyDataSchema"
                    [ngClass]="companyData.className"
            >
                <ion-label>
                    {{ companyData.property }}
                </ion-label>
            </ion-col>

        </ion-row>


        <ion-row>
            <ion-col class="ion-align-self-center">
                <app-google-location
                        [longitude]="loadedCompany.longitude"
                        [latitude]="loadedCompany.latitude"
                        [elementSize]="googleMapSize"
                ></app-google-location>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
