<div class="company-item-wrap">
    <ion-row>

        <ion-col>
            <ion-avatar>
                <app-google-picture
                        [longitude]="company.longitude"
                        [latitude]="company.latitude"
                        [elementSize]="googlePictureSize"
                ></app-google-picture>
            </ion-avatar>
        </ion-col>

        <ion-col>
            <ion-label>
                {{ company.name }}
            </ion-label>
        </ion-col>

        <ion-col>
            <ion-label>
                {{ company.address }}
            </ion-label>
        </ion-col>

        <ion-col>
            <ion-button color="danger" (click)="onDeleteCompany(company.id)">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-col>


    </ion-row>
</div>





