<ion-header [scrollHide]="headerScrollConfig" [scrollContent]="pageContent">
    <ion-toolbar>
        <ion-title>
            Home
        </ion-title>

        <ion-buttons slot="secondary">
            <ion-button>
                En
            </ion-button>
            <ion-button>
                Hb
            </ion-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content #pageContent fullscreen>
    <ion-grid>

        <ion-row>
            <ion-virtual-scroll [items]="companies">
                <app-company-item *virtualItem="let company"
                                  [company]="company"
                                  [routerLink]="['../', company.id]"
                >
                </app-company-item>
            </ion-virtual-scroll>
        </ion-row>

    </ion-grid>

    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button>
            <ion-icon name="list"></ion-icon>
        </ion-fab-button>
        <ion-fab-list *ngFor="let list of fabButtonsSchema" [side]="list.side">
            <ion-fab-button [color]="list.buttonColor" (click)="list.clickEvent()">
                <ion-icon [name]="list.iconName"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>

    </ion-fab>

</ion-content>
